# build output
client/dist/
# generated types
client/.astro/
client/.vercel/

# dependencies
client/node_modules/

# logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*


# environment variables
client/.env
client/.env.production

# macOS-specific files
client/.DS_Store

# jetbrains setting folder
client/.idea/

# wrangler files
client/.wrangler
client/.dev.vars

server/.env
server/learntk-firebase-adminsdk-m5nol-af3788623c.json

