---


// const formData = new FormData(formRef.current);

// const token = formData.get("cf-turnstile-response");
// const email = formData.get("email");
// const name = formData.get("name");
// const message1 = formData.get("message");
const token = "cf-turnstile-response";
// try {
import { GET } from './auth/firebase.ts'
let response = await GET({
    ...Astro,
    params: { id: '516150059059118081' },
} as any)
console.log(await response)
const data = await response.json()
console.log(data)
// const data = await response.json()
//   const response = await fetch("/api/auth/firebase", {
//     method: "POST",
//     body: JSON.stringify({ token}),
//   });

//   const responseData : {message: string} = await response.json();
//     if (response.ok) {
//             if(responseData["message"] == "niced"){
//             router.push("/success");
//         } else {
//             setError("server error"); 
//         }
//     }else {
//     setError("Invalid token"); 
//     }
// } 
// catch (err) {
//   setError("An error occurred. Please try again.");
// } 
// finally {
//   setIsLoading(false);
// }


---

<h1>{JSON.stringify(data)}</h1>