---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
// import Card from "../components/ProfileCard.astro";

function called() {
  console.log("called");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="splash">
        <div class="detail">
            <h1>Beginner course</h1>
            <pre>An 7-week introductory course to Python, ideal for those with little to no prior programming experience. By committing only 2 hours per week, you will learn all the skills you need to start making your own Python projects! Sessions are held both in person and online. Also recorded for students who miss a live session. Those attending all the lectures will be rewarded with a certificate of completion, and handing in the final project will be awarded a certificate of commendation. Sign up to start the course this semester!</pre>
        </div>
        <div>
          <script
            is:inline
            src="https://www.paypal.com/sdk/js?client-id=BAAECXx62SA0CIhFnFf-Q-wxmD83XXK-OGZU_M_hXpHjVLNch06nwKsxyGo1Oav3eFTeYPXCLIz8niuiuI&components=hosted-buttons&disable-funding=venmo&currency=GBP"
          ></script>
          <div id="paypal-container-RMJ7LXNMAHFUN"></div>
          <script is:inline>
            paypal
              .HostedButtons({
                hostedButtonId: "RMJ7LXNMAHFUN",
              })
              .render("#paypal-container-RMJ7LXNMAHFUN");
          </script>
        </div>
      </div>
      <div class="splash">
        <div class="detail">
            <h1>Advanced course</h1>
            <pre>An 4-week advanced course to Python, ideal for those who just finish the beginner course. The session is only in recording format. Those attending all the lectures will be rewarded with a certificate of completion, and handing in the final project will be awarded a certificate of commendation. </pre>
        </div>
        <div>
          
          <div id="paypal-container-PUADREGKBLFKQ"></div>
          <script is:inline>
            paypal.HostedButtons({
              hostedButtonId: "PUADREGKBLFKQ",
            }).render("#paypal-container-PUADREGKBLFKQ")
          </script>
        </div>

      </div>
    </main>
    <Footer />
    <style>
        main{
            width: 1000px;
        }
        .detail {
            width:600px
        }
        pre{
            
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
        .splash *{
            margin: 0 10px;
        }
      .splash {
        padding: 200px 0 200px 0;
        display: flex;
        flex-wrap: wrap;
        
    justify-content: space-between;
      }
      .splashbuttoncontainer {
        display: flex;
      }
      button svg,
      button img {
        margin-right: 10px;
      }
      button span {
        flex-grow: 1;
      }
      .member {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
      button {
        margin: 0 20px 0 20px;
        height: 50px;
        padding: 0.75rem 1rem;
        color: var(--provider-color, var(--color-primary));
        background-color: var(--provider-bg);
        font-size: 1.1rem;
        min-height: 62px;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: var(--border-radius);
        transition: all 0.1s ease-in-out;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button:hover,
      a.button:hover {
        background-color: var(
          --provider-bg-hover,
          var(--color-background-hover)
        );
        cursor: pointer;
      }

      button:active,
      a.button:active {
        cursor: pointer;
      }

      button #provider-logo,
      a.button #provider-logo {
        width: 25px;
        display: block;
      }

      button #provider-logo-dark,
      a.button #provider-logo-dark {
        display: none;
      }
    </style>
  </body>
</html>
