---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
// import Header from "../components/Header.astro";
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage
  frontmatter={{ title: 'Live Lesson' }}
>
<h2>Google meet Link</h2>
<p><a href="https://meet.google.com/rbh-tots-sov">https://meet.google.com/rbh-tots-sov</a></p>
<h2>YouTube Live</h2>
<p>
    <a href="https://youtube.com/live/bUEjds8Hu_U?feature=share">Week 5</a>
    <a href="https://youtube.com/live/6Tq-rGTN7Ow?feature=share">Week 6</a>
    <a href="https://youtube.com/live/qzlT71gRA8o?feature=share">Week 7</a>
</StarlightPage>

<!-- <StarlightPage
  frontmatter={{ title: 'Live Lesson' }}
  sidebar={[
    { label: 'Home', href: '/' ,
},
    {
      label: 'Constellations',
      items: [
        { label: 'Andromeda', href: '/andromeda/' },
        { label: 'Orion', href: '/orion/', isCurrent: true },
        { label: 'Ursa Minor', href: '/ursa-minor/', badge: 'Stub' },
        
      ],
      
    },
  ]}
></StarlightPage> -->